    /*
    Flaticon icon font: Flaticon
    Creation date: 08/07/2019 17:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-youtube-black:before { content: "\f100"; }
.flaticon-youtube:before { content: "\f101"; }
.flaticon-youtube-white:before { content: "\f102"; }
.flaticon-facebook-logo:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
.flaticon-instagram-silhouette:before { content: "\f106"; }
.flaticon-instagram:before { content: "\f107"; }
    
    $font-Flaticon-youtube-black: "\f100";
    $font-Flaticon-youtube: "\f101";
    $font-Flaticon-youtube-white: "\f102";
    $font-Flaticon-facebook-logo: "\f103";
    $font-Flaticon-facebook: "\f104";
    $font-Flaticon-twitter-logo-silhouette: "\f105";
    $font-Flaticon-instagram-silhouette: "\f106";
    $font-Flaticon-instagram: "\f107";